@{
    ViewData["Title"] = "Welcome";
}


<div class ="text-lg-start">

    <div class ="img-fluid">
        <img src = "~/Images/Background.png " alt = " " style = "width: 1200px; height: 300px"/> <br />
   </div>

</div> 




<div class="text-center">
    
    <h2 class="display-4">Welcome to Merc's Page </h2>
     
    <a href="http://twitch.tv/MercMonst3r"> <img src= "~/Images/test.png " alt = " " style = "width: 150px; height: 150px"/>  <br/> Twitch Page </a>
  
    
</div>

<div class = "container">
     
            <div class="row">
                <div class="col-md-4">
                  <div class="p-5 my-4 bg-dark rounded-3">

                 
                    <h3> <a class ="text-light">Schedule </a></h3>
                    <p>
                    <a class="text-light">Monday:Off </a> <br/>
                    <a class="text-light">Tuedday:6pm to 9PM </a> <br/>
                    <a class="text-light">Wednesday:Off </a> <br/>
                    <a class="text-light">Thursday:6pm to 9PM</a> <br/>
                    <a class="text-light">Friday:Depending on Circumstances</a> <br/>
                    <a class="text-light">Saturday:Possible </a> <br/>
                    <a class="text-light">Sunday:Possible </a> <br/>
                     </p>
                    </div>
                </div>

                    <div class="col-4"> <!extra div > </div>
                  
                    <div class="col-md-4" >
                         <div class="p-5 my-4 bg-dark rounded-3">
                    <h3><a class = "text-light"> About Me</a></h3>
                    <p>
                        <a class="text-light">Name: Dustin Lee</a> <br/>
                        
                        <a class = "text-light"> Age:25 </a><br/> 
                        <a class = "text-light"> Favorite Movie: Lord of The Rigs</a> <br/>
                        <a class = "text-light"> Favorite Food: Steak/Sushi</a> <br/>
                        
                     </p>
                    </div>

                   </div>
               
                   
            </div>
    
</div>

<div class="container">

    <div class = "col-7">

        <input type="text" class ="form-control" placeholder = "Enter Suggestion to improve stream or games to play..." />
        <button type="submit" class = "btn btn-primary">Submit</button>

    </div>

</div>
   
